**.sa linguist-language=swift text=typescript
examples/*.sa linguist-documentation=false
tests/**.sa linguist-documentation=false
sly/ linguist-detectable=false
**.bf linguist-language=Pascal
**.js linguist-language=JavaScript
